/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  --white: #fff;
  --black: #000;

  /* Fonts */
  --font-display: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-image: url('./../images/bg-mobile.svg');
  background-size: 100% 47%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--violet);
}

img {
  width: 100%;
  display: inline-block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-display);
  font-weight: 600;
}

.h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

/***********************************/
/* Main Layout */

/* Header */
.header {
  padding: 4rem;
  margin-bottom: 3rem;
}

.logo {
  width: 12rem;
}

/* Container */
.container {
  padding-right: 4rem;
  padding-left: 4rem;
}

/* Hero section */
.hero-content {
  display: grid;
  grid-gap: 6rem;
}

.hero-text {
  text-align: center;
}

.hero-title {
  margin-bottom: 1.6rem;
}

.hero-description {
  margin-bottom: 2.4rem;
}

.hero-cta {
  margin-bottom: 2.4rem;
}

/* Button */
.btn {
  font-family: var(--font-display);
  color: var(--violet);
  font-size: 1.2rem;
  background-color: var(--white);
  border: none;
  padding: 1.6rem 7.6rem;
  border-radius: 20rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.social-nav {
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1.2rem;
}

.social-item {
}

.social-link:link,
.social-link:visited {
  color: var(--white);
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.social-link:hover,
.social-link:active {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

/***********************************/
/* Util Classes */

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-size: 100% 55%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 1.8rem;
    line-height: 2.7rem;
    background-image: url('./../images/bg-desktop.svg');
    background-size: cover;
    background-position: center;
  }

  .h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  .header {
    padding: 6.4rem 8rem;
    margin-bottom: 0;
  }

  .logo {
    width: 20rem;
  }

  .container {
    padding-right: 8rem;
    padding-left: 8rem;
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }

  .hero-content {
    grid-template-columns: 70rem 1fr;
    grid-gap: 6rem;
  }

  .hero-title {
    margin-bottom: 2.4rem;
  }

  .hero-text {
    text-align: left;
  }

  .btn {
    font-size: 1.8rem;
  }

  .social-list {
    max-width: 128rem;
    justify-content: end;
  }

  .social-link:link {
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  .footer {
    padding-top: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
